header{
    min-height: 230px;
    width: 100%;
    position: relative;
    background-color: #323232;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
}

header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

}